<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width"/>
		<title>Chit: info</title>
	</head>
	<body>
		<br/>
		<center>
			<h1>What is this Chit?</h1>
		</center>
		<p>
			<a href="/">Chit</a>
			(pronounced with the 'ch' of <i>"chef"</i>) is a chat bot bringing the
			incredible and uncredible powers of Large Language Models to the old
			web. Now, for the first time, you can utilize AI from IE.
		</p>
		<p>
			This is also a great option for those who can't (or won't) run JavaScript.
			Worry not! These pages are completely JavaScript-free. Has someone told
			Stallman he can start using AI now?
		</p>
	</body>
</html>
